
I am very happy to confirm that you are dancing at Summer Soiree 2018!</br> 
<p>Your details are below - please check over to make sure our records agree with 
  what you think you ordered. If you have any questions about registration you 
  may contact me by email, register@ashevillecontra.com or Facebook message (much 
  faster, usually.) </br><br>
  &lt;p&gt;
<p>Be SURE to subscribe to the 2018 email list so I can send you details of this year's 
  schedule in advance of the weekend. Even if you already receive email, this helps ensure this year's emails will get to you. <br>
  Subscribe here: <a href="http://ashevillecontra.com/subscribe-2018.html">http://ashevillecontra.com/subscribe-2018.html.</a>
<p>&lt;p&gt; If you did not order the meal plan, you may want to reconsider. We 
  will have a catered dinner from Whole Foods for the Saturday night dinner and 
  Sunday lunch wraps. Saturday night will be Prime Rib and Chicken Marsala or 
  a Vegetarian entree of Portobello Mushroom, plus mashed potatoes, SuperFood 
  kale salad, mixed green salad, asparagas salad, and grilled vegetables, with 
  a carrot cake dessert. We eat in the Pavillion.</br> We also always get great 
  feedback about the variety and quality of what is available in the college cafeteria. 
  If you want to add a meal plan, it's $60 for 3 meals on Saturday and Sunday 
  breakfast and lunch wrap. Email me to let me know you want that ASAP and whether 
  you want vegetarian or not, and I will send you a request for $60 from Paypal.</br> 
  <br>
  <br>
  &lt;p&gt; We will send out an email shortly before the weekend with other details.</br> 
  Thank you for being part of Summer Soiree 2018!</br> I look forward to dancing 
  with you, MJ</br> 
<p>&lt;p&gt;M.-J. Taylor</br> 
