Thank you for submitting your registration for Summer Soirée!</br>
We will process registrations and send you an email when your place is confirmed. We EXPECT to send out the first confirmation letters no later than May 1, 2018. You will receive an email with your registration details, but you are NOT Confirmed until you get the confirmation email.

You should get a confirmation email from Paypal in addition to an email with your registration details.</br>
Thank you so much for registering!</br>

Cheers!</br>
MJ</br></br></br>
