<!-- Do not rename these files however you can edit the contents -->
<h3>We have not received your payment. Please send MJ an email at MJT@cyber-key.com, and get confirmation of your payment.</h3>
</br></br>
  <em id="new_green_header"> Thank you for submitting your registration for Summer Soiree 2018!</em><hr style='border-top: 2px solid green;'></hr>
<p>We will process registrations and send you an email when your place is confirmed. You will get an email today with the registration details, but you are not confirmed until payment is receievd and you receive an email that reads: "You are confirmed ..." and will be sent out no later than May 1, 2018. Waitlisted registrants receive notice as soon as possible!</br>
Please complete payment via Paypal if you have not already done so. Pay your total to mjt@cyber-key.com. Your registration details are below. Do print this page for your records, please.</br></br>

Thank you so much for registering!</br></br>

Cheers! </br>
MJ</br></br>

M.-J. Taylor</br>
Summer Soiree Organizer</br>
<a href="www.AshevilleContra.com">www.AshevilleContra.com</a></br>
305-872-0059</p>
